{{Utils::addCSS("//{{Core::$config['site']['static']}}/css/square.min.css")}}
{Utils::addJS("//{{Core::$config['site']['static']}}/js/shared.js")}
{{Utils::addJS("//{{Core::$config['site']['static']}}/js/jquery.sceditor.bbcode.min.js")}}

{include file="base/header.tpl"}
{block name="content"}{/block}
{include file="base/footer.tpl"}