			<div id="footer">
				<span class="footer-sections">
				</span>
				<span class="footer-logo">
					<img src="//{Core::$config.site.static}/img/logo_transparent.png"/>
				</span>
			</div>
		</div>
	</body>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	{block name="javascript"}{/block}
	{include file="widgets/util_javascript.tpl"}
</html>